.container {
  /* width: 100%; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px;
  padding-top: 0;
}

.banner1 {
  width: 97%;
  background: linear-gradient(0.25turn, #fdd966, #bcd77e);
  border-radius: 20px;
  padding: 20px;
  margin: 45px;
  display: flex;
  justify-content: center;
}

.text1 {
  font-size: 28px;
}

.banner2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  width: 100%;
  height: 100%;
}

.text2 {
  font-size: 24px;
  margin-bottom: 45px;
}

.wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.wrapArrow {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.cardType1 {
  width: 410px;
  /* box-sizing: border-box; */
}

.cardType2 {
  width: 630px;
}
