.container {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: white;
  /* width: 1380px; */
  width: 80%;
  height: 2252px;
  box-shadow: 7px 7px 20px #e6e6e6, -7px 7px 20px #e6e6e6, 7px -7px 20px #e6e6e6,
    -7px -7px 20px #e6e6e6;
  box-sizing: "border-box";
}
